@model IEnumerable<Doando.Models.Necessidade>

@{
    ViewBag.Title = "Necessidades";
}

<h2>Necessidades</h2>

<p>
    <div class="btn btn-success">
        @Html.ActionLink("Adicionar", "Create")
    </div>
</p>
<table class="table table-bordered table-hover table-responsive">
    <tr>       
        <th> @Html.DisplayNameFor(model => model.TITULO) </th>
        <th style="width:250px;"> @Html.DisplayNameFor(model => model.DESCRICAO)</th>
        <th> @Html.DisplayNameFor(model => model.PRIORIDADE) </th>
        <th> @Html.DisplayNameFor(model => model.DATA) </th>
        <th> @Html.DisplayNameFor(model => model.Ong)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td> @Html.DisplayFor(modelItem => item.TITULO) </td>
            <td> @Html.DisplayFor(modelItem => item.DESCRICAO) </td>
            <td> @Html.DisplayFor(modelItem => item.PRIORIDADE) </td>
            <td> @Html.DisplayFor(modelItem => item.DATA)</td>
            <td> @Html.DisplayFor(modelItem => item.Ong.NOME)</td>            
            <td>
                <div class="form-group">
                    <div class="col-md-12 text-center" style="top:10px;">
                        @if (Request.IsAuthenticated)
                        {
                            <div class="btn btn-info btn-sm">
                                @Html.ActionLink("Editar", "Edit", new { id = item.ID_NECESSIDADE })
                            </div>
                            <div class="btn btn-danger btn-sm">
                                @Html.ActionLink("Deletar", "Delete", new { id = item.ID_NECESSIDADE })
                            </div>
                        }
                        <div class="btn btn-default btn-sm">
                            @Html.ActionLink("Detalhes", "Details", new { id = item.ID_NECESSIDADE })
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
