@model IEnumerable<Doando.Models.Necessidade>

@{
    ViewBag.Title = "Necessidades";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DESCRICAO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIORIDADE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID_ONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRICAO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TITULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIORIDADE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID_ONG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_NECESSIDADE }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_NECESSIDADE }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_NECESSIDADE })
        </td>
    </tr>
}

</table>
